/Assets/Art/Characters/Armature/Animations/Stand--Idle.anim.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Model/Armature_arms.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Textures/Armature_Arms_AlbedoTransparency.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Textures/Armature_Arms_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Textures/Armature_Body_AlbedoTransparency.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Textures/Armature_Body_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Textures/Armature_Legs_AlbedoTransparency.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Characters/Armature/Textures/Armature_Legs_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit/Tex_blockKit_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit/Tex_blockKit_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit/Tex_blockKit_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit_Glowing/Tex_blockKitGlowing_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit_Glowing/Tex_blockKitGlowing_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit_Glowing/Tex_blockKitGlowing_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit_NoStamp/Tex_blockKitNoStamp_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit_NoStamp/Tex_blockKitNoStamp_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/BlockKit_NoStamp/Tex_blockKitNoStamp_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Blocker/Tex_perlin_01.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Collectible/Tex_Collectible_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Collectible/Tex_Collectible_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/ConnectorLightRailingKit/Tex_ConnectorRailingLight_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/ConnectorLightRailingKit/Tex_ConnectorRailingLight_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/ConnectorLightRailingKit/Tex_ConnectorRailingLight_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/JumpPad/Tex_jumpPad_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/JumpPad/Tex_jumpPad_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/RoundPlatformsColumns/Tex_RoundPlatformsColumns_01_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/RoundPlatformsColumns/Tex_RoundPlatformsColumns_01_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/RoundPlatformsColumns/Tex_RoundPlatformsColumns_01_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/SpawnPad/Tex_Glow_SecondaryNoise_Opacity.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/SpawnPad/Tex_SpawnPoint_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/SpawnPad/Tex_SpawnPoint_Emissive.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/SpawnPad/Tex_SpawnPoint_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/SpawnPad/Tex_Sprites_Opacity.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Spinner/Tex_Spinner_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Spinner/Tex_Spinner_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Spinner/Tex_Spinner_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/StairKit/Tex_StairKit_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/StairKit/Tex_StairKit_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/StairKit/Tex_StairKit_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Target/Tex_Target_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Target/Tex_Target_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Target/Tex_Target_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/Tex_FloorTileable1x1_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/Tex_FloorTileable1x1_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/Tex_WallTileable1x1_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/Tex_WallTileable1x2_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/Tex_WallTileable1x2_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/TrimSheet_01_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/Tileables/TrimSheet_01_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/WallFloorKit/Tex_WallKit_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/WallFloorKit/Tex_WallKit_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/WindowKit/Tex_WindowKit_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/WindowKit/Tex_WindowKit_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Environment/WindowKit/Tex_WindowKit_SMEO.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Guns/AssaultRifle/Tex_AssaultRifle_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Guns/Shotgun/Tex_Shotgun_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_AlbedoTransparency.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_AlbedoTransparency_Blue.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_AlbedoTransparency_Orange.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_AlbedoTransparency_Red.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_AlbedoTransparency_White.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_MetallicSmoothness.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Arms_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Body_AlbedoTransparency.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Body_MetallicSmoothness.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Body_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Legs_AlbedoTransparency.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Legs_AlbedoTransparency_Blue.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Legs_AlbedoTransparency_Orange.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/Textures/Armature_Legs_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/LaserHitGraph.vfx filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/Muzzle/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/smokeysteam.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/PlasmaHitGraph.vfx filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/RocketHitGraph.vfx filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/ShotgunBulletHitGraph.vfx filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/Textures/BulletHoleN.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/Textures/DebrisN.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/Textures/HitExplosionN.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/Textures/HitExplosionSmoke_2x2.png filter=lfs diff=lfs merge=lfs -text
/Assets/Art/VFX/Textures/HitMasks.png filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/Clips/Original[[:space:]]FPSSample[[:space:]]Clips/Ambient/InGameMusic01.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/Clips/Original[[:space:]]FPSSample[[:space:]]Clips/Ambient/UnitySampleGame-TitleScreenMusic.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/Clips/Original[[:space:]]FPSSample[[:space:]]Clips/Ambient/UnitySampleGameDroneMusic-action.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Audio/Clips/Player/Hit[[:space:]]Dead[[:space:]]And[[:space:]]Respawn/PlayerRespawn.wav filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/GameScene.unity filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/GameScene/GameScene[[:space:]]Baking[[:space:]]Set.CellSupportData.bytes filter=lfs diff=lfs merge=lfs -text
/Assets/TutorialInfo/Icons/FirstPersonShooterIcon.png filter=lfs diff=lfs merge=lfs -text
